@model RPPP_WebApp.ViewModels.UlogaViewModel
@{
	ViewBag.Title = "Uloga";
}

<h2 class="text-center">Popis uloga</h2>

<h5 class="text-center"><a asp-action="Create">Unos nove uloge</a></h5>
<br />
<br />

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Id uloge
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Ime uloge
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Opis
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uloga in Model.uloge)
        {
            <partial name="Get" model="uloga" />
        }
    </tbody>
    @*
    <tbody>
        @foreach (var uloga in Model.Uloge)
        {
            <tr>
                <td class="text-center">@uloga.IdUloge</td>
                <td class="text-center">@uloga.ImeUloge</td>
                <td class="text-center">@uloga.Opis</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@uloga.IdUloge"
                       class="btn btn-sm" title="Ažuriraj">
                        <i class="bi bi-arrow-clockwise">
                        </i>
                    </a>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@uloga.IdUloge" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                           <i class="bi bi-trash">
                                
                            </i> 
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
    *@
</table>

<button id="generatePdfButton" class="btn btn-primary">Izvezite PDF</button>
<button id="generateExcelButton" class="btn btn-success">Izvezite Excel</button>
<h5 class="text-center">Uvoz podataka korištenjem Excela</h5>
<form method="post" enctype="multipart/form-data" action="@Url.Action("ImportUlogaExcel", "Uloga")">
    <div class="mb-3">
        <label for="excelFile" class="form-label">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control" id="excelFile" name="file" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

<div id="UlogeTableContainer"></div>



@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>

    <partial name="IncludeValidation" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jtable/2.5.2/themes/metro/blue/jtable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jtable/2.5.2/jquery.jtable.min.js"></script>


    <script>
        var importStatus = '@(TempData["imported"])';
        if (importStatus === 'True') {
            alert("Podaci su uspješno uvezeni.");
        } else if (importStatus === 'False') {
            var importError = '@(TempData["importError"])';
            alert("Greška prilikom uvoza podataka: " + importError);
        }
        document.getElementById('generatePdfButton').addEventListener('click', function () {
            fetch('@Url.Action("UlogePDF", "Report")', {
                method: 'GET'
            }).then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    console.error('Failed to generate PDF');
                }
            }).then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'uloge.pdf';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });

        document.getElementById('generateExcelButton').addEventListener('click', function () {

            window.location.href = '@Url.Action("UlogaExcel", "Report")';


        });


        $(document).ready(function () {
            $('#UlogeTableContainer').jtable({
                title: 'Uloge',
                paging: true,
                pageSize: 10,
                sorting: true,
                defaultSorting: 'IdUloge ASC',
                actions: {
                    listAction: '/api/UlogaApi',
                    createAction: '/api/UlogaApi',
                    updateAction: '/api/UlogaApi',
                    deleteAction: '/api/UlogaApi'
                },
                fields: {
                    IdUloge: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    ImeUloge: {
                        title: 'Ime Uloge'
                    },
                    Opis: {
                        title: 'Opis'
                    },
                    IdVrste: {
                        title: 'Id Vrste'
                    }
                }
            });

            $('#UlogeTableContainer').jtable('load');
        });

    </script>
}

@if (TempData["used"] != null && (bool)TempData["used"])
{
    <script>
        alert("Uloga se koristi");
    </script>
}
@if (TempData["deleted"] != null && (bool)TempData["deleted"])
{
    <script>
        alert("Uloga je obrisana");
    </script>
}
@if (TempData["updated"] != null && (bool)TempData["updated"])
{
    <script>
        alert("Uloga je ažurirana");
    </script>
}
@if (TempData["created"] != null && (bool)TempData["created"])
{
    <script>
        alert("Uloga je stvorena");
    </script>
}