@model RPPP_WebApp.ViewModels.DokumentacijeViewModel
@using RPPP_WebApp.Controllers

@{
    ViewData["Title"] = "Dokumentacija";
}

<h1>Dokumentacija</h1>


<div>
    <a asp-action="Create" class="btn btn-primary">Dodaj novi dokument</a>
</div>


@*
<form asp-action="Create" method="post"
      class="d-flex justify-content-start align-items-center gap-2">
    <span><input required name="ImeDok" placeholder="Ime dokumenta" /></span>
    <span>
        <select for="IdProjekta" class="form-control" asp-items="ViewBag.Projekti">
            <option disabled selected value="">Odaberite projekt</option>
        </select>
    </span>
    <span>
        <select for="IdVrste" class="form-control" asp-items="ViewBag.VrsteDokumentacije">
            <option disabled selected value="">Odaberite vrstu dokumentacije</option>
        </select>
    </span>
    <button type="submit" class="btn btn-primary">
        +
    </button>
</form>
*@

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Naziv Dokumenta
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Naziv projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Vrsta dokumenta
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doku in Model.Dokumentacija)
        {
            <partial name="Get" model="doku" />
        }
    </tbody>
    @*
    <tbody>
    @foreach (var dokument in Model.Dokumentacija)
    {
    <tr>
    <td>
    @dokument.ImeDok
    </td>
    <td>
    @if (dokument.imeProjekta != null)
    {
    @dokument.imeProjekta
    }
    else
    {
    <span class="text-danger">Ne pripada projektu</span>
    }
    </td>
    <td>
    @if (dokument.imeVrste != null)
    {
    @dokument.imeVrste
    }
    else
    {
    <span class="text-danger">Nema vrste</span>
    }
    </td>
    <td>
    <a asp-action="Edit"
    asp-route-id="@dokument.IdDok"
    asp-route-page="@Model.PagingInfo.CurrentPage"
    asp-route-sort="@Model.PagingInfo.Sort"
    asp-route-ascending="@Model.PagingInfo.Ascending"
    class="btn btn-sm btn-warning" title="Edit">Edit</a>
    </td>
    <td>
    <form asp-action="Delete" method="post"
    asp-route-id="@dokument.IdDok"
    asp-route-page="@Model.PagingInfo.CurrentPage"
    asp-route-sort="@Model.PagingInfo.Sort"
    asp-route-ascending="@Model.PagingInfo.Ascending">
    <input type="hidden" name="IdDok" value="@dokument.IdDok" />
    <button hx-confirm="Jeste li sigurni da želite obrisati dokument?"
    hx-delete="@Url.Action(nameof(DokumentacijaController.Delete), new { id = dokument.IdDok})"
    type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
    Obriši
    </button>
    </form>
    </td>
    </tr>
    }
    </tbody>
    *@
</table>

<button id="generatePdfButton" class="btn btn-primary">Izvezite PDF</button>
<button id="generateExcelButton" class="btn btn-success">Izvezite Excel</button>


<h5 class="text-center">Uvoz podataka korištenjem Excela</h5>

<form method="post" enctype="multipart/form-data" action="@Url.Action("ImportPartnerExcel", "Dokumentacija")">
    <div class="mb-3">
        <label for="excelFile" class="form-label">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control" id="excelFile" name="file" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>

    <partial name="IncludeValidation" />
    <script>
        var importStatus = '@(TempData["imported"])';
        if (importStatus === 'True') {
            alert("Podaci su uspješno uvezeni.");
        } else if (importStatus === 'False') {
            var importError = '@(TempData["importError"])';
            alert("Greška prilikom uvoza podataka: " + importError);
        }
        document.getElementById('generatePdfButton').addEventListener('click', function () {
            // Use AJAX or other methods to call the action that generates the PDF
            fetch('@Url.Action("DokumentacijaPDF", "Report")', {
                method: 'GET'
            }).then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    console.error('Failed to generate PDF');
                }
            }).then(blob => {
                // Create a download link for the PDF
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'dokumentacija.pdf';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });

        document.getElementById('generateExcelButton').addEventListener('click', function () {

            window.location.href = '@Url.Action("DokumentacijaExcel", "Report")';
        });
    </script>
}

@if (TempData["used"] != null && (bool)TempData["used"])
{
    <script>
        alert("Dokumentacija se koristi");
    </script>
}
@if (TempData["deleted"] != null && (bool)TempData["deleted"])
{
    <script>
        alert("Dokumentacija je obrisana");
    </script>
}
@if (TempData["updated"] != null && (bool)TempData["updated"])
{
    <script>
        alert("Dokumentacija je ažurirana");
    </script>
}
@if (TempData["created"] != null && (bool)TempData["created"])
{
    <script>
        alert("Dokumentacija je stvorena");
    </script>
}